/**
 *
 */

.glossary-navigation { margin-bottom: 2em; padding: 0; }
.glossary-navigation li.item { display: inline; font-size: 140%; }
.glossary-navigation li.item a { text-decoration: none; }
.glossary-navigation li.item a:hover { text-decoration: underline; }
.glossary-navigation li.item span {}

.word-list { list-style:none;margin:0;padding:0; }
.word-list .title { background:#eaeaea;padding:10px 15px 10px 15px; margin:0 0 10px;font-size: 17px }
.word-list .title span { font-weight:700;font-size:20px; }
.word-list .title a { float: right; }
.word-list .item { padding:0 10px;margin:0 0 10px; }
.word-list .item a { font-weight: bold; text-decoration: none; }
.word-list .item a:hover { text-decoration: underline; }

.glossary-word { margin-bottom: 20px; }
